{% extends 'base.html.twig' %}

{% block main_content %}

		{% embed 'decorator/_nav.html.twig' with {'class': 'fixed-top navbar-light bg-light', 'brandUrl': '#'} %}

		{% block brand %}
			Pokedex
		{% endblock %}

		{% block menu %}
			{{ knp_menu_render('main'}) }}
		{% endblock %}

	{% endembed %}
	<h1 class="h4">Pokédex</h1>
	{% block body %}
	{% endblock %}
{% endblock %}