<div class="card {% if classes is defined %}{{ classes  }}{% endif %}">
  <div class="card-header {% if classes is defined %}{{ classes  }}{% endif %}">
    {% block header %}{% endblock %}
  </div>
  <div class="card-body {% if classes is defined %}{{ classes  }}{% endif %}">
    {% block body %}{% endblock %}
  </div>
  <div class="card-footer text-light {% if classes is defined %}{{ classes  }}{% endif %}">
    {% block footer %}{% endblock %}
  </div>
</div>