<div class="card">
  <div class="card-header {% if classes is defined %}{{ classes  }}{% endif %}">
    {% block header %}{% endblock %}
  </div>
  <div class="card-body">
    {% block body %}{% endblock %}
  </div>
  <div class="card-footer text-muted {{ classes  }}">
    {% block footer %}{% endblock %}
  </div>
</div>