{% extends 'base.html.twig' %}

{% block body %}

<div class="list-group">
    {% for entity in entities %}
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ entity.title }}</h5>
      <small>{{ entity.dateCreate|date('d/m/Y H:i') }}</small>
    </div>
    <p class="mb-1"></p>
    <small></small>
  </a>
  {% endfor %}
</div>
{% endblock %}{# block body #}

