{% extends 'layout.html.twig' %}
{% block body %}

{% embed 'decorator/_card.html.twig' %}

    {% block header %}
    <h2>{{ entity.title }}</h2>
    {% endblock %}

    {% block body %}
	<b>{{ entity.content|raw }}</b>
    {% endblock %}

    {% block footer %}
	<small>{{ entity.dateCreate|date('d/m/Y H:i') }}</small>
    {% endblock %}

 {% endembed %}
{% endblock %}