
body {
	/* fallback for old browsers */
	background: #00B4DB;
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(to right, #0083B0, #00B4DB);
	min-height: 100vh;
	padding-top: 80px;
	padding-bottom: 80px;
}

#message-form {
	width: 100%;
}

.message {
	margin-top: 10px;
	margin-bottom: 10px;
}

.message .avatar img {
	width: 80px;
	height: 80px;
}

.message .media-body {
	padding: 15px;
	padding-top: 0px;
}

.message .infos {
	color: #fefefe;
	font-weight: bold;
}

.message .content {
	padding: 8px;
	border-radius: 12px;
}